*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
.container{
    width: 1080px;
    margin: 0 auto;
}

body{
    color: rgb(133,128,121);
    font-family: 'Montserrat', sans-serif;
}

main{
    background-color: rgb(245,245,241);
    text-align: center;
}

section{
    padding: 1.5rem 0;
}

img{
    max-width: 100%;
    display: block;
}

/* Our Team Header*/

#our-team header{
    width: 60%;
    padding: 1.5rem 0;
    margin: 0 auto;
}

#our-team header h3{
    color: black;
    margin-bottom: 1.5rem;
}

#our-team p{
    line-height: 1.8rem;
}

/* Our Team Main */

.row{
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
}

.row .col{
    flex-basis: calc(100% / 3);
    border: 1px solid black;
    padding: 1.5rem 1rem;
}

.col .card{
    background-color: white;
    font-family: 'Playfair Display', serif;
}

.card .worker{
    padding: 1rem 0;
}


